.footer {
  margin-top: 50px;

  .main-footer {
    padding: 40px 27px;
    background-color: $primary3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
  }

  .main-footer-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    align-items: center;
  }
  .title-footer {
    @include textExtraBold($primary1, 30px);
  }
  .desc-footer {
    @include textSemiBold($primary2, 15px);
    margin-top: 9px;
    margin-bottom: 27px;
  }
  .logo-social-network {
    display: flex;
    gap: 16px;
  }
  .logo-social-network a {
    width: 20px;
  }
  .policy-title {
    @include textLight($primary2, 15px);
  }
  .main-footer-item span {
    @include textLight($primary2, 12px);
    color: $black;
  }
  .extra-footer-item {
    @include textLight($primary2, 12px);
  }
}

@media only screen and (max-width: $breakpoint-lg) {
  .footer {
    .main-footer {
      display: block;
    }

    .main-footer-item {
      align-items: center !important;
      margin-bottom: 20px;
    }

    .extra-footer-item {
      text-align: center;
    }

    .desc-footer {
      text-align: center;
    }
  }
}
